<appstore-toolbar id="appstore-toolbar" class="appstore-combo-placeholder" *ngIf="toolbarConfig" [config]="toolbarConfig"></appstore-toolbar>
<vulcanux-control *ngIf="dataviewConfig" [config]="dataviewConfig"></vulcanux-control>