<div class="appstore-main">
    <div style="height: 45px;">
        <vulcanux-sol-renderer *ngIf="appstoreConfig" [config]="appstoreConfig"></vulcanux-sol-renderer>
    </div>
    <appstore-suggestions></appstore-suggestions>
    <appstore-speech></appstore-speech>
    <router-outlet></router-outlet>
</div>
