// app details varables//
@appdetails-container-background: #f5f5f5;

@appdetails-readmore-link-bg: #ebebeb;

@appdetails-image-holder-color: #ffffff;
@appdetails-image-holder-bgcolor: #15cc92;

@appstore-rating-heading-color: #000000;

@appstore-rating-staricon-color: #ffc861;
@appstore-rating-staricon-empty-color: #ffc861;

@appstore-rating-button-bgcolor: #ebebeb;
@appstore-rating-button-color: #595959;
@appstore-rating-button-border-color: #d9d9d9;

@appdetails-multiview-bgcolor: #ffffff;
@appdetails-multiview-border-color: #d2d2d2;

@appdetails-webix-dataview-item-bgcolor: #ffffff;

@multyview-text-color: #1b1b1b;

@customer-rating-empty-label: #ababab;

@user-text-color: #bcb7b1;

@appdetails-add-btn-border-color: #ececec;
@appdetails-add-btn-color: #ffffff;

@details-attributes-border-color: #ececec;

@review-rating-icon-color: #ffc861;
@review-rating-icon-empty-color: #cccccc;

@review-heading-color: #acacac;
@review-subheading-color: #6b6b6b;
@review-description-color: #707070;

@appdetails-popup-description-color: #000000;
@appdetails-popup-heading-color: #000000;

@details-rightcolumn-end-border-color: #ececec;
@appdetail-related-dataview-bgcolor: #f5f5f5;

@appdetails-webix-page-hover-color: #eaf3fd;
@appdetails-webix-page-hover-bgcolor: #f5f5f5;
@appdetails-webix-page-focus-color: #2489cc;

@appdetails-webix-page-first-child-color: #ffffff;
@appdetails-webix-page-last-child-color: #ffffff;
@appdetails-webix-page-focus-before-color: #ffffff;
@appdetails-webix-page-focus-bgcolor: #3399ff;

@appdetails-webix-page-disabled-color: #cccccc;

@appdetails-add-btn-color: #ffffff;
@appdetails-add-btn-bgcolor: #3399ff;

@appdetails-comments-color: #707070;

@readmore-link-color: #0073b0;

.appdetails_container {
  background: @appdetails-container-background;
  height: auto !important;
  overflow: visible !important;
  margin-top: -6px;
}
//app details page left part
.appdetails_breadcrumb {
  padding-top: 25px;
  .vux-composite-label {
    span {
      color: @lable-color;
      .font-size(14);
      font-family: @font-stack-bold;
      float: left;
      &.icon {
        // font-family: FontAwesome !important;
        line-height: 20px;
        float: left !important;
        .font-size(16);
      }
    }
    span.bold {
      color: @primary-color;
    }
    .arrow_right {
      .font-size(16);
      position: relative;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .close-btn {
    cursor: pointer;
    span {
      color: @primary-bg;
      padding-right: 5px;
    }
  }
}
.appdetails_main_title {
  padding: 0px !important;
  div {
    color: @black;
    font-family: @font-stack-bold;
    .font-size(36);
    text-transform: uppercase;
  }
}
.appdetails_description {
  height: auto !important;
  .vux_p {
    height: auto !important;
  }
  span {
    .font-size(14);
    color: @black;
    font-family: @font-stack-regular;
    line-height: 24px;
  }
}
.readmore_link {
  a {
    .font-size(12);
    color: @readmore-link-color;
    text-transform: uppercase;
    .border-radius(@borderRadius);
    background: @appdetails-readmore-link-bg;
    font-family: @font-stack-bold;
    padding: 5px 5px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.appdetails_main_heading {
  height: auto !important;
  div {
    color: @black;
    .font-size(24);
    font-family: @font-stack-bold;
  }
}

.appdetails_subheading {
  div {
    color: @black;
    .font-size(14);
    font-family: @font-stack-bold;
  }
}
.appdetails_comments_description {
  line-height: 26px;
  div {
    color: @appdetails-comments-color;
    .font-size(14);
    font-family: @font-stack-regular;
    word-break: break-word;
  }
}

.webix_view .appdetails_comments_description {
  background: transparent;
}

.appdetails_image_holder {
  border-width: 1px !important;
  text-align: center;
  border-left: 1px solid @black;
  height: auto !important;
  div {
    text-align: center;
    .font-size(14);
    font-family: "open_sansbold", sans-serif;
    color: @appdetails-image-holder-color;
    height: 60px !important;
    line-height: normal !important;
    width: 60px;
    background: @appdetails-image-holder-bgcolor;
    border-radius: 50%;
    .font-size(22);
    padding-top: 12px;
    margin-left: 18px;
  }
}

.details-review-textarea {
  .webix_el_box {
    textarea {
      .font-size(14);
      color: @lable-color;
      font-family: @font-stack-regular;
      .border-radius(@borderRadius);
      width: 100% !important;
    }
  }
}

.appstore_rating_heading {
  div {
    color: @appstore-rating-heading-color;
    font-family: @font-stack-bold;
    font-size: 0.875rem;
  }
}

.appstore_rating {
  span {
    .staricon {
      .font-size(34);
      color: @appstore-rating-staricon-color;
      border: none;
      &.starempty {
        color: @appstore-rating-staricon-empty-color;
        border: none;
      }
    }
  }
}
.appstore_rating_button {
  .webix_el_box {
    button.webixtype_base {
      background: @appstore-rating-button-bgcolor;
      color: @appstore-rating-button-color;
      .font-size(16);
      font-family: @font-stack-bold;
      border: 1px solid @appstore-rating-button-border-color;
      text-transform: none;
      padding: 10px 20px;
    }
  }
}

// carasoul styles
.related-app {
  position: relative;
  .appstore-scroll {
    padding-left: 25px; //
    border: none;
  }
}
//multyview styles
.appdetails_multiview {
  margin: 25px 0 !important;
  height: auto !important;
  background: @appdetails-multiview-bgcolor;
  img {
    max-width: 100%;
    width: 100%;
  }
  .border-radius(@borderRadius);
  border: 1px solid @appdetails-multiview-border-color;
  .details_multiview_img_holder {
    min-height: 366px;
    border: 2px solid @appdetails-multiview-border-color;
    height: auto !important;
    .webix_view {
      height: auto !important;
    }
  }
  .content {
    width: 100%;
    height: 100%;
  }
  .image .webix_template {
    padding: 0px;
  }
  .nav_list {
    border: none !important;
    margin-top: 30px;
    .webix_dataview_item {
      background-color: @appdetails-webix-dataview-item-bgcolor;
      border: none;
      padding: 0;
      margin-right: 20px;
      width: 77px !important; //
      height: 43px !important; //
    }
    .webix_dataview_item.webix_selected {
      background-color: @appdetails-webix-dataview-item-bgcolor;
    }
  }
  .multyview_heading {
    // height: 28px !important; //
    div {
      color: @multyview-text-color;
      font-family: @font-stack-bold;
      text-transform: uppercase;
      .font-size(12);
      line-height: 28px !important; //
    }
  }
  .multyview_subheading {
    height: 22px !important;
    div {
      color: @multyview-text-color;
      font-family: @font-stack-bold;
      .font-size(12);
      line-height: 16px !important;
    }
  }
  .details-segmented {
    button {
      margin-right: 20px;
      img {
        height: 100% !important;
      }
    }
  }
  .multiview_container {
    height: auto !important;
    padding-bottom: 20px;
  }
}

// customer rating styles
.details-customer-ratings {
  height: auto !important;
}
.customer_heading {
  color: @black;
  .font-size(24);
  font-family: @font-stack-bold;
}
.ratingbarlayout {
  width: 100%; //
  .overallrating-main {
    width: 120px; //
    display: inline-block;
    margin-right: 2%; //
    text-align: center;
    .overallrating-label {
      .font-size(60);
      text-align: center;
      color: @overallrating-label;
      font-weight: 300;
      font-family: "BebasNeue";
    }
    .staricon {
      cursor: pointer;
      outline: none;
      color: @customer-rating-label;
      &.starempty {
        color: @customer-rating-empty-label;
      }
    }
  }
  .users {
    padding-top: 10px;
    span {
      .font-size(16);
      text-align: center;
      padding-top: 15px; //
      color: @user-text-color;
      font-family: "BebasNeue";
      &.as-user {
        .font-size(14);
        color: @customer-rating-label;
        font-family: FontAwesome;
      }
      i {
        font-family: FontAwesome;
        .font-size(12);
        font-style: normal;
        color: @primary-color;
      }
    }
  }

  .overallrating-bars {
    width: 300px; //
    display: inline-block;
    .bar-container {
      display: flex; //
      flex-direction: row; //
      margin-bottom: 2px;
      .ratingnum {
        color: @customer-rating-label;
        text-align: center;
        display: flex;
        align-items: center;
        padding-left: 5px; //
        padding-right: 5px; //
        .font-size(11);
        height: 100%; //
        font-family: "BebasNeue";
        .font-size(16);
        span {
          color: @customer-rating-label;
          .font-size(11);
          margin-right: 5px;
        }
      }
      .bar {
        height: 18px; //
        &.bar-1 {
          background-color: #9bba5d;
        }
        &.bar-2 {
          background-color: #99cc33;
        }
        &.bar-3 {
          background-color: #ffcc66;
        }
        &.bar-4 {
          background-color: #f7ab4d;
        }
        &.bar-5 {
          background-color: #f78358;
        }
        .usersnum {
          color: @overallrating-label;
          text-align: center;
          display: flex; //
          align-items: center;
          padding-left: 5px;
          height: 100%; //
          font-family: "BebasNeue";
          .font-size(16);
          line-height: 16px;
        }
      }
    }
  }
}

.appdetails_add_btn {
  border-width: 2px !important;
  border-top: 2px solid @appdetails-add-btn-border-color;
  border-bottom: 2px solid @appdetails-add-btn-border-color;
  .webix_el_box {
    button.webixtype_base {
      background: @appdetails-add-btn-bgcolor;
      color: @appdetails-add-btn-color;
      .font-size(22);
      font-family: @font-stack-bold;
      text-transform: uppercase;
      padding: 15px;
    }
  }
}

.details_attributes {
  border-width: 2px !important;
  border-bottom: 2px solid @details-attributes-border-color;
  .webix_el_icon {
    line-height: 8px; //
    margin-right: 15px; //
    .webix_icon {
      color: @primary-color;
      .font-size(32);
    }
  }
  .webix_el_label {
    div {
      .font-size(28);
      font-family: @font-stack-bold;
      color: @primary-color;
      line-height: 28px !important;
    }
  }
}

.appdetails_label_heading {
  div {
    .font-size(20);
    font-family: @font-stack-bold;
    color: @lable-color;
  }
}
.appdetails_data_heading {
  div {
    .font-size(20);
    font-family: @font-stack-bold;
    color: @primary-color;
  }
}
.appdetails_link {
  div {
    .font-size(20);
    font-family: @font-stack-bold;
    color: @primary-bg;
    text-transform: none;
    cursor: pointer;
  }
}
// review rating styles
.rating:focus {
  outline: none !important;
}
.review_rating {
  span {
    .staricon {
      color: @review-rating-icon-color;
      border: none;
      .font-size(34);
      &.starempty {
        color: @review-rating-icon-empty-color;
      }
    }
  }
  &.img_bottom_rating {
    span {
      .staricon {
        .font-size(28);
      }
    }
  }
}

.review_heading {
  div {
    .font-size(14);
    color: @review-heading-color;
    font-family: @font-stack;
  }
}
.review_subheading {
  div {
    color: @review-subheading-color;
    .font-size(14);
    font-family: @font-stack;
    line-height: 14px !important;
  }
}

.comments_rated {
  div {
    .font-size(12);
    font-family: @font-stack-regular;
    color: #666666;
  }
}

.review_rating {
  &.comments_rating {
    span {
      .staricon {
        .font-size(16);
      }
    }
  }
}

.review_description {
  div {
    font-family: @font-stack-regular;
    .font-size(14);
    color: @review-description-color;
    line-height: 24px;
  }
}

.webix_view .review_description {
  background: transparent;
}

.review_rating {
  &.heading {
    .appstore-rating {
      span {
        .staricon {
          .font-size(16);
        }
      }
    }
  }
}

.img_bottom_rating {
  margin-left: auto !important;
  margin-right: auto;
}

.details-rightcolumn-end {
  border-width: 2px !important;
  border-bottom: 2px solid @details-rightcolumn-end-border-color;
}

.details-left-col-css {
  height: auto !important;
}

.details-reviews-container,
.details-content-column {
  height: auto !important;
}

.details-reviews-container .webix_template .webix_view {
  background: transparent;
}

.appstore-scroll.appdetail-related-dataview .webix_dataview_item {
  width: auto !important;
  margin-right: 20px;
}

.appdetail-related-dataview {
  position: relative;
  overflow: hidden;
  display: block;
  .webix_dataview {
    margin: 0 45px;
    background: @appdetail-related-dataview-bgcolor;
  }

  .webix_view {
    &.webix_pager {
      z-index: 9999;
      height: 36px !important;
      position: absolute;
      top: 50%;
      padding: 0;
      button {
        font-size: 36px;
        &:first-child {
          position: relative;
          color: @appdetails-webix-page-first-child-color;
          visibility: hidden;
          &:hover {
            color: @appdetails-webix-page-hover-color;
            &:before {
              color: @primary-bg;
              background: @appdetails-webix-page-hover-bgcolor;
            }
          }
          &:focus {
            color: @appdetails-webix-page-focus-color;
            &:before {
              color: @white;
              background: @appdetails-webix-page-focus-bgcolor;
            }
          }
          &:before {
            content: "\f104";
            font-family: FontAwesome !important;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            top: 0px;
            left: 0;
            color: @primary-bg;
            visibility: visible;

            .border-radius(@borderRadius);
            float: left;
            &:before {
              background: none;
            }
          }
        }
        &:last-child {
          position: relative;
          color: @appdetails-webix-page-last-child-color;
          visibility: hidden;
          float: right;
          &:hover {
            color: @appdetails-webix-page-hover-color;
            &:before {
              color: @appdetails-webix-page-focus-bgcolor;
              background: @appdetails-webix-page-hover-bgcolor;
            }
          }
          &:focus {
            color: @appdetails-webix-page-focus-color;
            &:before {
              color: @appdetails-webix-page-focus-before-color;
              background: @appdetails-webix-page-focus-bgcolor;
            }
          }
          &:before {
            content: "\f105";
            font-family: FontAwesome !important;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            top: 0px;
            left: 0;
            color: @primary-bg;
            visibility: visible;

            .border-radius(@borderRadius);
          }
        }
        &.disabled {
          pointer-events: none;
          &:first-child,
          &:last-child {
            &:before {
              color: @appdetails-webix-page-disabled-color;
            }
          }
        }
      }

      .paging_text {
        display: none;
      }
    }
  }
}

.details-segmented {
  margin-top: 20px !important;
}

.details-review-container {
  width: auto !important;
}

.details-review-form {
  background: none !important;
}

.details-review-form,
.details-review-textarea,
.details-review-textarea .webix_el_box {
  width: auto !important;
}

.relatedapps-container {
  height: auto !important;
  min-height: 250px !important;
}

.horizontal_line {
  background: #e1e1e1;
}

.vertical_line {
  background: #e6e7e8;
}

.webix_view.webix_pager {
  top: 50%;
}

// popup styles
.appdetails_popup {
  padding: 40px; //
  .appdetails_popup_heading {
    div {
      color: @appdetails-popup-heading-color;
      .font-size(18);
      font-family: @font-stack-bold;
    }
  }
  .appdetails_popup_description {
    div {
      color: @appdetails-popup-description-color;
      .font-size(13);
      font-family: @font-stack-regular;
      a {
        color: @primary-bg;
        .font-size(13);
        text-decoration: underline;
      }
    }
  }
}

.appdetails_add_button {
  margin-top: 40px !important;
}
