@import "header.less";
@import "carousel.less";
@import "toolbar.less";
@import "item.less";
@import "appdetails.less";
@import "solution_composer.less";
@import "search.less";
@import "settings.less";
@import "swagger.less";

// written by developer //

.app-detail-page-scroll > .webix_scroll_cont,
.app-detail-page-scroll > .webix_scroll_cont > .webix_layout_line {
  height: auto !important;
}

.app-detail-page-scroll {
  height: calc(100% - 100px) !important;
  position: absolute !important;
  top: 100px;
}

.app-detail-body {
  height: auto !important;
}

.app-detail-body > .ngcustom-webix {
  height: auto !important;
}

.appstore-main {
  width: 100%;
  height: 100%;
  .vux-app-layout,
  .vux-app-container,
  .vux-app-container > .ngcustom-webix {
    height: auto !important;
  }
  .vux-sp-scrollview {
    height: calc(100% - 45px) !important;
    position: absolute !important;
    top: 45px;
    background: #f5f5f5;
  }

  .vux-sp-scrollview > .webix_scroll_cont,
  .vux-sp-scrollview > .webix_scroll_cont > .webix_layout_line {
    height: auto !important;
  }

  .vux-sp-container {
    overflow-y: hidden !important;
    height: auto !important;
  }
  .webix_abslayout .ngcustom-webix {
    position: static !important;
  }
}
