// appstore carousel varables
@appstore-carousel-webix-nav-item-bgcolor:#ffffff;
@appstore-carousel-descrip-color:#ffffff;
@appstore-carousel-title:#ffffff;
@appstore-carousel-add-btn-color:#ffffff;
@appstore-carousel-add-btn-bgcolor:#00afe5;


.appstore-carousel {
  border: 0px !important;
  .webix_nav_button_corner {
    display: none;
  }

  .webix_nav_panel_corner {
    right: 45px;
    bottom: 30px;
  }

  .webix_nav_item {
    height: 2px;
    width: 45px;
    padding: 0px 7px 0px 0px;
    > div {
      width: 100%;
      background: @appstore-carousel-webix-nav-item-bgcolor;
      border: 0px solid;
      border-radius: 0px;
      opacity: 1;
    }
  }
  .webix_nav_active div {
    background: @brand-color;
  }

  .descrip {
    background: none !important;
    border-width: 0px !important;
    .webix_template {
      color: @appstore-carousel-descrip-color;
      .font-size(16);
      border: 0px !important;
      padding: 0px;
      line-height: 26px !important;
      word-break: break-word;
    }
  }

  .bg {
    .bg1 {
      background: @brand-color;
      float: left;
    }
    .bg2 {
      background: #8aea2d;
      float: left;
    }
  }

  .sub-title {
    padding: 0px;
    div {
      .font-size(20);
      padding-left: 10px;
      color: @appstore-carousel-title;
      font-family: "open_sansbold";
    }
  }

  .title {
    background: none;
    div {
      .font-size(36);
      color: @appstore-carousel-title;
      font-family: "open_sansbold";
      line-height: 50px !important; //SPACE
    }
  }

  .add-btn {
    button {
      font-family: "open_sansbold";
      .border-radius(@borderRadius);
      background: @appstore-carousel-add-btn-bgcolor;
      color: @appstore-carousel-add-btn-color;
      padding: 8px 15px;
    }
  }
}
