@cart-count-circle: #00afe5;
@cart-count: #ffffff;
@cart-label: #ffffff;
@cart-heading-background: #f8f9fa;
@cart-heading-color: #868e96;
@cart-delete-icon: #c6d4dc;
@cart-delete-icon-hover: #0385cd;
@cart-button-background: #0385cd;
@cart-button-colors: #ffffff;
@cart-button-hover-colors: #ebebeb;
@cart-label-or-background: #eff0f1;
@cart-label-or: #a5a19c;
@cart-label-circle-color: #868e96;
@cart-label-circle-background: #ebebeb;
@cart-list-text: #000000;
@cart-add-solution-button: #0385cd;
@cart-submenu-text: #000000;
@cart-submenu-background: #0385cd;
@cart-submenu-color: #ffffff;

//MODAL WINDOW cart
@modal-app-label: #000000;
@modal-app-label2: #b6b4b4;
@modal-background: #f9f9f9;
@modal-common-color: #0385cd;
@modal-button-grey: #ebebeb;

.appstore_cart {
  .label {
    div {
      .font-size(12);
      color: @cart-count;
      font-family: @font-stack-semibold;
    }
  }
  .count {
    background: @cart-count-circle;
    color: @cart-label;
    border-radius: 50%;
    .font-size(16);
    font-family: @font-stack-bold;
    width: 30px !important;
    height: 30px !important;
    margin-top: 4px !important;
    padding-left: 3px !important;
    text-align: center;
    cursor: pointer;
    div {
      text-align: center;
      line-height: 24px !important;
    }
  }
}

.vux_caret {
  color: @white;
  margin-right: 8px;
  button .webix_icon {
    font-size: 14px;
    margin-top: 6px;
    color: @white;
  }
}

/**CART POPUP**/

.appstore_cart_popup {
  overflow: inherit;
  border: 1px solid @header-popup-border;
  border-radius: @borderRadius;
  padding: 0px !important;
  margin-top: 8px !important;
  right: 20px;
  left: auto !important;
  overflow: unset;
  &.header_caret:before,
  &.header_caret:after {
    left: 75px;
  }
  .webix_win_content {
    padding: 0px !important;
  }
  .webix_layout_line {
    width: auto !important;
    height: auto !important;
  }
  .webix_el_button {
    width: auto !important;
    height: auto !important;
    .webix_el_box {
      width: auto !important;
      height: auto !important;
      padding: 0px;
    }
  }
  .heading {
    background: @cart-heading-background;
    .font-size(14);
    padding: 4px 15px;
    font-family: @font-stack-bold;
    height: 43px !important;
    width: 100% !important;
    div {
      color: @cart-heading-color;
    }
  }

  .delete {
    display: inline-block;
    width: auto !important;
    height: auto !important;
    .webix_icon {
      color: @cart-delete-icon;
      top: 5px;
      position: relative;
      margin-right: 8px;
    }
  }

  .app-image {
    display: inline-block;
    width: auto !important;
    position: relative;
    top: 5px;
    height: auto !important;
    img {
      border-radius: @borderRadius;
      width: 20px;
      height: 20px;
    }
  }

  .cart-btn {
    background: @cart-heading-background;
    padding: 18px 15px 0px 15px;
    text-align: center;
    overflow: visible;
    .cr-solution {
      margin-bottom: 15px;
      button {
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 0px;
        height: 30px;
        padding: 0px 15px;
        background: @cart-button-background;
        line-height: 28px !important;
        .webix_icon_btn {
          font-size: 16px;
          position: relative;
          color: @cart-button-colors;
          top: 5px;
        }
        &:hover {
          color: @cart-button-hover-colors;
          .webix_icon_btn {
            color: @cart-button-hover-colors;
          }
        }
      }
    }
  }
  .webix_list_item,
  .webix_view {
    border: 0px;
  }
  .webix_list {
    width: 100% !important;
    // height: 150px!important;
  }
  .webix_list_item {
    color: @cart-list-text;
    font-size: 1em;
    float: left;
    width: 100% !important;
    font-weight: 700;
    vertical-align: top;
    line-height: 45px;
    position: relative;
    &.webix_selected,
    &:hover,
    &:active {
      background: none;
      .delete .webix_icon {
        color: @cart-delete-icon-hover;
      }
    }
    .deletebtn {
      position: absolute;
      top: 5px;
      left: 7px;
      right: 0;
    }
    .apptitle {
      padding-left: 5px;
      color: @cart-list-text;
      .font-size(16);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
      display: inline-block;
      width: 75%;
      font-family: @font-stack-bold;
    }
  }

  .button-or {
    width: 100% !important;
    background: @cart-label-or-background;
    height: 2px !important;
    padding: 0px !important;
    margin-top: 24px !important;

    div {
      position: relative;
      span {
        line-height: 23px !important;
        float: left;
        position: absolute;
        margin-top: 0px;
        padding: 1px 5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        font-family: @font-stack-bold;
        color: @cart-label-circle-color;
        .font-size(14);
        top: -16px;
        background: @cart-label-circle-background;
        width: 28px !important;
        height: 28px !important;
        border-radius: 50%;
        z-index: 9;
      }
    }
  }

  .webix_menu {
    width: 100% !important;
    border-width: 0px !important;
    margin: 0px !important;
    height: auto !important;
    .webix_list_item {
      position: relative;
      color: @brand-color;
      text-transform: uppercase;
      font-size: 1em;
      img {
        padding-right: 10px;
      }
      &:hover {
        &:before {
          background-position: -24px 0px;
        }
      }
    }
  }

  .menu-cart {
    text-align: center;
    background: @cart-heading-background;
    padding-bottom: 5px !important;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none !important;
    .webix_list_item {
      background: @cart-heading-background;
      position: relative;
      text-align: center;
      font-size: 14px;
      letter-spacing: 0px;
      margin-top: 10px;
      color: @cart-add-solution-button;
      font-family: @font-stack-bold;
      img {
        padding-right: 5px;
        vertical-align: middle;
      }
      &:hover,
      &:active {
        background: none !important;
      }
    }
  }
}

.appstore_cart_submenu {
  overflow: inherit;
  border: 1px solid #cccccc;
  border-radius: @borderRadius;  
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 0px !important;
  .webix_win_content {
    padding: 0px !important;
    .webix_list_item:first-child {
      .font-size(14);
      padding: 4px 15px;
      font-family: @font-stack-bold;
      height: 43px !important;
      background: @cart-heading-background;
      color: @cart-heading-color;
      border-radius: @borderRadius @borderRadius 0px 0px;
      &:hover,
      &:active {
        background: @cart-heading-background;
        color: @cart-heading-color;
      }
    }

    .webix_list_item:last-child {
      border-radius: 0px 0px @borderRadius @borderRadius;
    }

    .webix_list_item {
      padding: 5px 16px;
      height: auto !important;
      color: @cart-submenu-text;
      .font-size(16);
      font-family: @font-stack-bold;
      &:hover {
        background: @cart-submenu-background;
        color: @cart-submenu-color;
      }
      img {
        margin-top: 5px;
        padding-right: 5px;
        height: 25px;
      }
      span {
        display: inline-block;
        vertical-align: top;
        line-height: 40px !important;
        width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.modal-window {
  background: @modal-background!important;
  border-radius: 0px;
  border: 0px;
  padding: 0px 40px;
  position: relative;
  box-shadow: none;
  .webix_view {
    height: auto !important;
  }
  .webix_win_head {
    border-top: 0px;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 15px;
    button:hover,
    button:active {
      background: none !important;
    }
  }
  .head-window {
    .webix_img_btn {
      text-decoration: underline;
      color: @modal-common-color;
      padding: 0px;
      font-size: 0.8em;
      letter-spacing: 0px;
      background: transparent;

      span {
        color: @modal-common-color;
        padding: 0;
      }
    }
  }

  .close {
    color: @modal-common-color;
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 0.75rem;
    font-weight: 700;
  }

  .image {
    display: inline-block;
    padding-top: 28px;
    padding-right: 40px;
  }

  .webix_view {
    background: none !important;
  }

  .col-1,
  .col-2 {
    display: inline-block;
    vertical-align: middle !important;
    padding-top: 50px;
  }

  .col-2 {
    width: 70% !important;
  }

  .label1 div {
    color: @modal-app-label;
    font-weight: 700;
    font-size: 1.15em;
    line-height: 21px !important;
  }

  .label2 div {
    color: @modal-app-label2;
    font-size: 0.9em;
    font-weight: 400;
  }

  .app-label {
    padding-bottom: 30px;
    div {
      color: @modal-app-label;
      font-size: 1em;
      padding: 0px;
      font-weight: 400;
      line-height: 26px !important;
    }
  }

  &.modal-window-content {
    padding-bottom: 40px;
  }

  //margin-top:15px;
  .webix_el_button,
  .webix_el_box {
    margin: 0px !important;
    width: auto !important;
    height: auto !important;
    display: inline-block;
    width: auto !important;
    height: auto !important;
  }

  .button {
    button.webixtype_base {
      font-size: 0.8em;
      font-weight: 700;
      height: auto !important;
      width: auto !important;
      padding: 6px 10px;
      background: @modal-common-color;
    }
  }
  .button1 {
    button.webixtype_base {
      background: @modal-button-grey;
      color: @modal-common-color;
      border: 0px !important;
      height: auto !important;
      font-size: 0.8em;
      padding: 6px 10px;
      width: auto !important;
    }
  }
  .button2 {
    button.webixtype_base {
      background: none !important;
      color: @modal-common-color;
      height: auto !important;
      width: auto !important;
      font-size: 0.8em;
      border: 0px !important;
      padding: 6px 10px;
      text-decoration: underline;
    }
  }
}
