// appstore thumnail varables
@product-background:#f5f5f5;
@appstore-scroll-page-title: #003d60;
@appstore-item-border-color: #024959;
@appstore-app-icon-bgcolor: #024959;
@appstore-add-icon-bgcolor: #00afe5;
@appstore-add-icon-border-color: #ffffff;
@appstore-add-icon-button-color: #ffffff;
@appstore-item-title-color: #003d60;
@appstore-item-staricon-color: #00afe5;
@appstore-item-starempty-color: #999999;
@appstore-item-attributes-color: #b4b4b4;
@app-thumbnail-hover-color: #003d60;
@app-thumbnail-hover-description-color: #7d7d7d;
@appstore-scroll-thumbnail-title-container: #ffffff;

.dataview-container {
  height: auto !important;
  width: auto !important;
}

.dataview-flex-layout {
  height: auto !important;
}

.appstore-scroll {
  position: relative;
  z-index: 90;
  height: auto !important;
  border: 0px !important;
  width: 100% !important;
  .page-title {
    margin-left: 18px !important;
    div {
      .font-size(24);
      color: @appstore-scroll-page-title;
      font-family: "open_sansbold";
    }
  }

  .thumbnail_hover_container {
    height: auto !important;
  }

  .webix_dataview_item {
    border: 0px;
    padding: 0px;
    min-height: 300px;
    height: auto !important;
    width: 100% !important;
  }

  .landing-dataviewitem {
    border: 0px !important;
    height: auto !important;
    width: auto !important;
    background: @product-background;
  }

  .webix_flexlayout {
    background: none !important;
  }

  .appstore-item {
    border: 1px solid #024959;
    .border-radius(@borderRadius);
  }

  .appstore-app-icon {
    background: @appstore-app-icon-bgcolor;
  }

  .appstore-thumbnail,
  .appstore-app-icon {
    width: 100% !important;
  }

  .appstore-add-icon {
    margin: 0px !important;
    width: 22px !important;
    height: 22px !important;
    background: @appstore-add-icon-bgcolor;
    border: 2px solid @appstore-add-icon-border-color !important;
    border-radius: 50%;
    .webix_el_box {
      width: auto !important;
      height: auto !important;
      text-align: center;
    }
    button {
      color: @appstore-add-icon-button-color;
      .font-size(24);
      font-family: opensans_regular;
      line-height: 16px;
      vertical-align: top;
      background: none !important;
      padding:1px 0px 0px 0px;
    }
    &.disable {
      pointer-events: none;
      opacity: 0.5;
      button {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .item-title {
    border: 0px !important;
    color: @appstore-item-title-color;
    .font-size(14);
    font-family: "open_sansbold";
    div {
      line-height: 19px !important;
      word-break: break-word;
    }
  }

  .appstore-rating {
    margin: 0 auto;
  }

  .staricon {
    .font-size(16);
    color: @appstore-item-staricon-color;
  }

  .starempty {
    color: @appstore-item-starempty-color;
  }

  .attributes {
    .webix_el_label div {
      color: @appstore-item-attributes-color;
      .font-size(14);
      font-family: "open_sansbold";
    }

    .webix_el_icon {
      margin-top: 0px !important;
      margin-left: 0px !important;
      width: auto !important;
      height: 100% !important;
      line-height: 8px;
      margin-right: 0px;
      .webix_icon {
        color: @appstore-item-attributes-color;
        .font-size(16);
      }
    }
  }

  .landing-thumbnail-css {
    position: relative;
  }

  .landing-thumbnail-css:hover {
    box-shadow: 0 1px 2px rgba(25, 25, 25, 0.6);
  }

  .landing-thumbnail-css:hover .app-thumbnail-hover {
    display: block;
    cursor: pointer;
  }

  .app-thumbnail-hover {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100% !important;
    height: 67% !important;
    padding: 15px 0px;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    .title {
      width: auto !important;
      height: auto !important;
      cursor: pointer;
      div {
        color: @app-thumbnail-hover-color;
        .font-size(14);
        font-family: "open_sansbold";
        line-height: 16px !important;
        padding: 0px 15px;
        word-break: break-word;
      }
    }

    .description {
      width: auto !important;
      height: auto !important;
      cursor: pointer;
      div {
        color: @app-thumbnail-hover-description-color;
        .font-size(14);
        font-family: "open_sansregular";
        line-height: 16px !important;
        padding: 0px 15px;
      }
    }
  }

  .thumbnail-title-container {
    background: @appstore-scroll-thumbnail-title-container;
    .webix_template {
      padding: 0px;
    }
  }
}
