// solution composer varables
@solution-container-bgcolor: #f9f9f9;
@solution-main-title-color: #464646;
@solution-number-bgcolor: #333333;
@solution-number-color: #ffffff;
@solution-header-heading-color: #9a9a9a;
@solution-header-subheading-color: #c2c2c2;
@solution-icon-heading-color: #333333;
@solution-icon-em-color: #ff3e3e;
@required-fields-color: #ff3e3e;
@solution-line-separator-bgcolor: #000000;
@solution-chars-color: #c2c2c2;
@solution-form-label-color: #333333;
@solution-form-input-border-color: #cccccc;
@solution-form-input-bgcolor: #ffffff;
@solution-form-input-color: #9a9a9a;
@solution-form-textarea-color: #ffffff;
@solution-icon-selected-bgcolor: rgba(52, 142, 232, 0.9);
@solution-icon-selected-color: #ffffff;
@solution-composer-badge-label-color: #ffffff;
@solution-remove-button-bgcolor: #f9f9f9;
@solution-remove-button-hover-color: #ffffff;
@solution-footer-bgcolor: #ffffff;
@solution-footer-border-color: #ececec;
@solution-button-color: #ffffff;
@solution-cancle-button-color: #595959;
@solution-cancle-button-bgcolor: #d9d9d9;
@thumbnail-item-title-color: #000000;

//solution composer styles
.solution_container {
  background: @solution-container-bgcolor;
}
.solution_main_title {
  div {
    .font-size(22);
    color: @solution-main-title-color;
    font-family: "open_sansbold";
  }
}
.solution_number {
  div {
    background: @solution-number-bgcolor;
    color: @solution-number-color;
    border-radius: 50%;
    .font-size(14);
    font-family: "open_sansbold";
    line-height: 24px !important;
    text-align: center;
    height: 24px !important; //
    width: 24px !important; //
  }
}
.solution_header_heading {
  div {
    .font-size(18);
    color: @solution-header-heading-color;
    font-family: "open_sansbold";
    line-height: 25px !important;
  }
}
.solution_header_subheading {
  div {
    .font-size(12);
    color: @solution-header-subheading-color;
    font-family: "open_sansregular";
  }
}

.solution_icon_heading {
  color: @solution-icon-heading-color;
  .font-size(16);
  font-family: "open_sansregular";
  margin-bottom: 15px;
  padding-top: 20px;
  em {
    color: @solution-icon-em-color;
    font-style: normal;
  }
}

.req-fields {
  width: auto !important;
  float: right;
  padding-right: 8px;
  div {
    line-height: 28px !important;
    em {
      color: @required-fields-color;
      font-style: normal;
    }
  }
}
.solution-fields {
  padding-right: 16px;
}

.solution_line_separator {
  background: @solution-line-separator-bgcolor;
  padding: 0;
}
.chars {
  div {
    color: @solution-chars-color;
    .font-size(12);
    font-family: "open_sansregular";
    font-weight: normal;
  }
}
.solution_form {
  background: none !important;
  .webix_el_text {
    label {
      color: @solution-form-label-color;
      .font-size(16);
      font-family: "open_sansregular" !important;
      font-weight: normal;
      position: relative;
      padding-left: 15px;
      &.webix_required {
        &:after {
          position: absolute;
          padding-left: 0px;
          left: 0px;
        }
      }
    }
    .webix_el_box {
      input {
        border: 1px solid @solution-form-input-border-color;
        .border-radius(@borderRadius);
        background: @solution-form-input-bgcolor;
        color: @solution-form-input-color;
        .font-size(14);
        height: 50px; //
        padding: 0px 14px;
      }
    }
  }

  .webix_el_textarea {
    padding-bottom: 15px;
    label {
      color: @solution-form-label-color;
      .font-size(16);
      font-family: "open_sansregular" !important;
      font-weight: normal;
      padding-left: 15px;
      position: relative;
      &.webix_required {
        &:after {
          position: absolute;
          padding-left: 0px;
          left: 0px;
        }
      }
    }
    .webix_el_box {
      textarea {
        border: 1px solid @solution-form-input-border-color;
        .border-radius(@borderRadius);
        background: @white;
        color: @solution-form-input-color;
        .font-size(14);
      }
    }
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: @solution-form-input-color;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: @solution-form-input-color;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: @solution-form-input-color;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: @solution-form-input-color;
  }
}
.solution_icon_holder {
  padding: 5px 5px;
  border: 1px solid @solution-form-input-border-color !important;
  .border-radius(@borderRadius);
  text-align: center;
  position: relative;
  .webix_el_label {
    width: 100% !important;

    div {
      text-align: center;
      img {
        width: 100%;
      }
    }
  }

  .solution_icon_selected {
    position: absolute;
    display: none;
    background: @solution-icon-selected-bgcolor;
    z-index: 1;
    .border-radius(@borderRadius);
    left: 0;
    top: 1px;
    color: @solution-icon-selected-color;
    .font-size(26);
    padding-top: 20px;
    width: 100% !important;
    height: 100% !important;
    .webix_el_label {
      color: @solution-icon-selected-color;
      .font-size(26);
      margin-top: 22px;

      div {
        width: auto !important;
        height: auto !important;
        padding: 0px;
        .fa-check-square {
          display: block;
        }

        .fa-square-o {
          display: block;
        }
      }

      &:hover {
        .fa-check-square {
          display: block;
        }
        .fa-square-o {
          display: block;
        }
      }
    }
  }
  &:hover {
    .solution_icon_selected {
      display: block;
    }
  }
}

.icon_selected {
  position: absolute;
  display: block;
  background: @solution-icon-selected-bgcolor;
  z-index: 1;
  .border-radius(@borderRadius);
  left: 0;
  top: 1px;
  color: @solution-icon-selected-color;
  .font-size(26);
  padding-top: 20px;
  width: 100% !important;
  height: 100% !important;
}

.iconFlex {
  .fa {
    .font-size(24);
    padding-right: 0px;
  }

  .icon_selected {
    .fa {
      .font-size(20);
    }
  }

  .solution_icon_selected {
    .fa {
      .font-size(20);
    }
  }
}

.more_link {
  div {
    color: @primary-bg;
    .font-size(12);
    font-family: @font-stack-bold;
    text-decoration: underline;
  }
}

.thumbnail_badge {
  position: relative;
  padding: 4px;
}
.solution_composer_badge {
  position: absolute;
  left: -6px;
  top: 18px;
  z-index: 9;
  .webix_el_label {
    position: absolute;
    left: 3px;
    top: -5px;
    right: 0;
    margin: 0 auto;
    z-index: 99;
    width: 100% !important;
    height: auto !important;
    &.label {
      div {
        color: @solution-composer-badge-label-color;
        .font-size(12);
        line-height: 30px !important;
        text-transform: uppercase;
        z-index: 999;
        padding-left: 20px;
      }
    }
  }
}

.solution_remove_button {
  background: @solution-remove-button-bgcolor;
  padding-top: 1px;
  cursor: pointer;
  .icon-trash {
    button {
      span {
        .font-size(16);
        color: @primary-bg;
        line-height: 20px;
      }
    }
  }
  .webix_el_label {
    cursor: pointer;
    div {
      .font-size(12);
      color: @primary-bg;
      cursor: pointer;
    }
  }
  &:hover {
    background: @primary-bg;
    .icon-trash {
      button {
        span {
          color: @solution-remove-button-hover-color;
        }
      }
    }
    .webix_el_label {
      div {
        color: @solution-remove-button-hover-color;
      }
    }
  }
}
.solution_footer {
  background: @solution-footer-bgcolor;
  border-top: 2px solid @solution-footer-border-color;
}
.solution_button {
  margin-top: 0 !important;
  .webix_el_box {
    button.webixtype_base {
      background: @primary-bg;
      color: @solution-button-color;
      .font-size(16);
      font-family: @font-stack-bold;
      text-transform: uppercase;
      height: 42px; //
      padding: 8px 15px; //
      margin-top: 2px;
    }
  }
  &.cancle_button {
    .webix_el_box {
      button.webixtype_base {
        background: @solution-cancle-button-bgcolor;
        color: @solution-cancle-button-color;
        .font-size(16);
        font-family: @font-stack-bold;
        text-transform: uppercase;
        height: 42px; //
        padding: 8px 15px; //
      }
    }
  }
}
.thumbnail-item-title {
  border: 0px !important;
  color: @thumbnail-item-title-color;
  .font-size(14);
  font-family: "open_sansbold";
  text-transform: capitalize;
  .webix_template {
    word-break: break-word;
  }
}

.iconFlex {
  max-height: 355px;
  overflow-y: auto !important;
}
.appsFlex {
  max-height: 355px;
  overflow-y: auto !important;
}
