@import "../../../../node_modules/@apporchid/vulcanuxcontrols/themes/less/vux.material.theme.less";
@import "index.less";
@cart-count-circle: #00afe5;
@cart-count: #ffffff;
@cart-label: #ffffff;
.webix_template{
	padding:0px;
}

.webix_window {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.webix_carousel{
	border:0px!important;
	width:100%!important;
}

.appstore-combo-placeholder(@rules) {

    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}

// TODO: move to product 23/05/2018 anji
.vux-popup {
	.webix_win_head {
		border-top: 0;
		.webix_layout_toolbar {
		  &.app-expand-toolbar {
			background: @settings-toolbar-bgcolor;
			.app-expand-toolbar-title {
			  div {
				color: @settings-toolbar-title-color;
				font-family: @font-stack-bold;
				.font-size(18);
			  }
			}
		  }
		  .app-expand-toolbar-close-icon {
			  button {
				background: @settings-toolbar-close-button-bgcolor;
				color: @settings-toolbar-close-button-color;
				font-family: @font-stack-bold;
				padding: 8px 0;      
				line-height: 18px !important;      
				  .webix_icon {
					color: @settings-toolbar-close-button-color;
					margin-top: -4px;             
				}
			  }
		  }
		}
	  }
	  .webix_win_content {
		height: 100% !important;
	  }
	  .webix_win_body {
		height: 100% !important;
		// overflow-y: scroll;
	  }
	  .vulcanux-app-detail-renderer > div {
		height: 100% !important;
	  }
	  .vux-app-layout {
		height: 100% !important;
	  }
	  .vux-app-detail-container {
		height: 100% !important;
	  }
	  .vux-app-detail-container > .ngcustom-webix {
		height: 100% !important;
	  }
	  .micro-app > div {
		height: 100% !important;
		width: 100% !important;
	  }
	  .vux-microapp {
		height: 100% !important;
		width: 100% !important;
		#container {
		  height: 100% !important;
		}
	  }
	  .webix_view.webix_flexlayout{
		width: 100% !important;
	  }
}
