@font-face {
  font-family: 'neptune';
  src:  url('fonts/neptune.eot?wz8t9');
  src:  url('fonts/neptune.eot?wz8t9#iefix') format('embedded-opentype'),
    url('fonts/neptune.woff2?wz8t9') format('woff2'),
    url('fonts/neptune.ttf?wz8t9') format('truetype'),
    url('fonts/neptune.woff?wz8t9') format('woff'),
    url('fonts/neptune.svg?wz8t9#neptune') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="np-"], [class*=" np-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'neptune' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.np-facebook-solid:before {
  content: "\e904";
}
.np-investor-solid:before {
  content: "\e905";
}
.np-report-regular:before {
  content: "\e906";
}
.np-newspaper-regular:before {
  content: "\e907";
}
.np-weather-regular:before {
  content: "\e908";
}
.np-satellite-regular:before {
  content: "\e909";
}
.np-web-regular:before {
  content: "\e90a";
}
.np-filter-solid:before {
  content: "\e900";
}
.np-info-solid:before {
  content: "\e901";
}
.np-download-regular:before {
  content: "\e902";
}
.np-location-regular:before {
  content: "\e903";
}
