<span>{{description}}</span>
<div class="readmore_link" id="description-more" [style.display]="showmore? 'inline-block': 'none'"  (click)="onShowMore()"><a href="javascript:;">Read More</a></div>
<div class="readmore_link" id="description-less"  [style.display]="showless? 'inline-block': 'none'"  (click)="onShowLess()"><a href="javascript:;">Show Less</a></div>